@import url("/static/css/main.css");


footer {
	display: block !important;
	background-color: var(--bg2);
	color: var(--text2);
	padding-top: 0.5rem;
	width: 100%;
	margin-bottom: -0.6vh;
}

#ft-grid {
	grid-template-columns: repeat(3, 1fr);
	display: grid;
}

#ft-grid > div {
	font-size: 100%;
	margin-left: 2rem;
	margin-top: 1.4rem;
	max-height: 15rem;
}

#ft-grid > div > h4 {
	margin-top: 0;
}

.ft-ul {
	margin-top: -1rem;
	margin-left: -1rem;
	list-style-type: none;
}

#down {
	display:none;
}
