{% extends "main.html" %}
{% block title %}
	about cloud11665
{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="static/css/about.css">
{% endblock css %}
{% block content %}
<div id="content">
	<img align="right" src="https://github.com/Cloud11665.png" title="(My github profile picture)">
	<p>I'm cloud11665 and I write code :^).</p>
	<p>I advocate for privacy and free software.</p>
	<p>My operating system of choice is GNU/LINUX in the debian flavor.</p>
	<p>I hate politics in software, I don't care who you are, just write good code.</p>
	<p>Censorship always backfires.</p>
	<p>I dislike electron apps, yet my editor of choice is vscode.</p>
	<p>I try to avoid things like Google or Facebook as much as I can, but I store 1:1 encrypted backup of my home server on gcloud, because I got it for free from school :)</p>
	<p>I think social media makes people boring.</p>
	<p>I like watching Lex Fridman, geohot, Andreas Kling and marcan.</p>
	<p>Javascript (on this site) is hot garbage.</p>
	<p>I like music made by zun, iosys, tano*c, camellia, yaboimatoi, koronba, dotnigou, chroma and dj sharpnel.</p>
	<p>I believe that ergonomics are important, so please don't cheap out on yourself.</p>
	<p>I like watching anime, one of my favorite ones is girls' last tour.</p>
	<p>I like touhou, my favorite game is imperishable night. I also like mokou.</p>
	<p>I know c++, python2 and 3 very well. bash scripting and js on a usable level, clojure and ruby on a very basic level.</p>
	<p>I want to learn how to write compilers.</p>
	<p>I like doing projects with arduinos.</p>
	<p>I like doing computer vision things, its one of my favorite cs fields.</p>
	<p>English is not my native language.</p>
</div>
{% endblock content %}